.tab-list {

	margin:0;
	padding:0;

	.tab-item {
		display:inline-block;
		border:1px solid #dddddd;
		border-bottom:0;
		margin:0 -5px 0 0;

		a {
			color:#000;
			padding:10px;
			text-decoration:none;
			display:block;

			&:hover {
				background:#e7e7e7;
			}
		}

		&.active {
			
			a {
				background:#e7e7e7;
			}
		}
	}
}

.tab-content {
	padding:10px 15px 0;
	border:1px solid #dddddd;
}