.standard-animation {
    top: 40px;
    opacity: 0;
    position: relative;
    @media (max-width: 990px) {
        opacity: 1;
        top: auto;
    }
}

.scroll-animation {
    opacity: 0;
    top: 140px;
    position: relative;
    @media (max-width: 990px) {
        opacity: 1;
        top: auto;
    }
}

.fadeInRight {
    position: relative;
    right: -60px;
    opacity: 0;
    @media (max-width: 990px) {
        opacity: 1;
        right: 0;
    }
}

.fadeInLeft {
    position: relative;
    left: -60px;
    opacity: 0;
    @media (max-width: 990px) {
        opacity:1;
        left:auto;
    }
}

.fadeInLeft--active {
    position: relative;
    opacity: 1;
    left: auto;
}

.fadeInRight--active {
    position: relative;
    opacity: 1;
    right: 0;
}

.fadeInTop {
    top: 40px;
    opacity: 0;
    position: relative;
    @media (max-width: 990px) {
        opacity: 1;
        top: 0;
    }
}

.text-block p, .text-block h3, .image-block img, .quote-block h3 {
    top: rem-calc(40);
    opacity: 0;
    position: relative;
}

.fadeInTop--active, p.fadeInTop--active, img.fadeInTop--active, h3.fadeInTop--active {
    position: relative;
    opacity: 1;
    top: 0;
}