.button {
	background-color: $green;
	color: $white!important;
	font-size:24px;
	padding:5px 10px;
	border:0;
	border-radius:10px;
	max-width:250px;
	width:100%;
	display:block;
	text-decoration:none;
	margin:20px auto 20px;
	text-align:center;
	cursor:pointer;

	&:hover {
		color:#fff;
		text-decoration:none;
	}

}

// Button Colors

.button--grey {
	background-image: linear-gradient(bottom, $dark-grey 50%, $grey 50%);
	background-image: -o-linear-gradient(bottom, $dark-grey 50%, $grey 50%);
	background-image: -moz-linear-gradient(bottom, $dark-grey 50%, $grey 50%);
	background-image: -webkit-linear-gradient(bottom, $dark-grey 50%, $grey 50%);
	background-image: -ms-linear-gradient(bottom, $dark-grey 50%, $grey 50%);
	margin-bottom:0;

	&:hover {
		background-image: linear-gradient(bottom, $grey 50%, $dark-grey 50%);
		background-image: -o-linear-gradient(bottom, $grey 50%, $dark-grey 50%);
		background-image: -moz-linear-gradient(bottom, $grey 50%, $dark-grey 50%);
		background-image: -webkit-linear-gradient(bottom, $grey 50%, $dark-grey 50%);
		background-image: -ms-linear-gradient(bottom, $grey 50%, $dark-grey 50%);
	}
}

.button--green {
	background-image: linear-gradient(bottom, $dark-green 50%, $green 50%);
	background-image: -o-linear-gradient(bottom, $dark-green 50%, $green 50%);
	background-image: -moz-linear-gradient(bottom, $dark-green 50%, $green 50%);
	background-image: -webkit-linear-gradient(bottom, $dark-green 50%, $green 50%);
	background-image: -ms-linear-gradient(bottom, $dark-green 50%, $green 50%);

	&:hover {
		background-image: -webkit-linear-gradient(bottom, $green 50%, $dark-green 50%);
		background-image: -moz-linear-gradient(bottom, $green 50%, $dark-green 50%);			
		background-image: -o-linear-gradient(bottom, $green 50%, $dark-green 50%);
		background-image: -ms-linear-gradient(bottom, $green 50%, $dark-green 50%);
		background-image: linear-gradient(bottom, $green 50%, $dark-green 50%);
	}
}

// Button Sizes

.button--small {
	font-size:16px;
}

.button--medium {
	font-size:20px;
}

.button--large {
	font-size:24px;
}