.danbox-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	z-index:9999;
	display:none;
}

.danbox-overlay-inner {
	position:fixed;
	border:5px solid #fff;
	top:50%;
	left:50%;
	width:100%;
	max-width:700px;
	background:#ffffff;
	-moz-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);

	@media (max-width: 710px) {

		left:0px;
		right:0px;
		width:auto;
		-moz-transform:translate(0, -50%);
		-webkit-transform:translate(0, -50%);
		-ms-transform:translate(0, -50%);
		transform:translate(0, -50%);
	}
}

.danbox-overlay-inner-relative {
	position:relative;
}

.danbox-close {
	position:absolute;
	top:6px;
	right:10px;
	color:#fff;
	cursor:pointer;
	z-index:9999;
}

.danbox-overlay img {
	width:100%;
	height:auto;
	display:block;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}