footer {
	background:#000;

	@media (max-width: 991px){
		padding-bottom:10px;
	}

	p {
		color:$grey;
		margin:20px 0;
		text-align:left;
		font-size:14px;

		@media (max-width: 991px){
			font-size:12px;
			text-align:center;
		}

		span {
			text-decoration:underline;
			color:inherit;
			cursor:pointer;

			&:hover {
				text-decoration:none;
				color:inherit;
			}
		}
	}

	h4 {
		float:right;
		color:#fff;
		font-weight:bold;
		margin-top: 21px;
    	margin-left: 40px;
	}

	.footer-logo {
		display:inline-block;
		margin: 0 20px;
		width:auto;
		height:100px;

		@media (max-width: 991px){
			display:block;
			margin:0 auto 20px;
		}
	}

	.footer-logo-2 {
		display:inline-block;	
		width:auto;
		height:80px;
		margin-top:20px;

		@media (max-width: 991px){
			display:block;
			margin:0 auto 20px;
		}
	}

	.social {
		display:block;
		float:right;
		background:$green;
		width:40px;
		height:40px;
		text-align:center;
		border-radius:50%;
		margin-top:10px;
		margin-left:10px;

		&.social--twitter {
			padding-top:8px;
		}

		&.social--linkedin {
			padding-top:7px;
		}

		&:hover {
			background:$grey;
		}

		i {
			color:#fff;
			font-size:24px;
		}

	}

}