.instaimage {
	margin-bottom:30px;

	.overlay {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:rgba(0,0,0,0.8);
		padding:20px;
		color:#fff;
		font-size:18px;
		display:none;
	}

	&:hover {
		.overlay {
			display:block;
		}
	}
}