.ratio {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	position: relative;
	display:block;
	height:0;
}

.ratio--square {
	padding-bottom:100%;
	}

.ratio--4-3 {
	padding-bottom:75%;
	}

.ratio--16-9 {
	padding-bottom:56.25%;
	}