.section {
	position:relative;
	background:#000000;
	padding:0 0 40px 0;
}


// Background Image
	
.section--image {
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	min-height:400px;
	background-attachment:fixed;
}



// Darken Image

.section--multiply {
	background-blend-mode: multiply;
	background-color:#777777;
}



// Margin Top

.section--push-top-small {
	margin-top:20px;
}

.section--push-top-medium {
	margin-top:40px;
}

.section--push-top-large {
	margin-top:60px;
}



// Margin Bottom

.section--push-bottom-small {
	margin-bottom:20px;
}

.section--push-bottom-medium {
	margin-bottom:40px;
}

.section--push-bottom-large {
	margin-bottom:60px;
}



// Side Padding

.section--squeeze {
	padding-left:10px;
	padding-right:10px;
}



// Background Color

.section--grey {
	background: $grey;
}

.section--white {
	background: $white;
}

.section--black {
	background: $black;
}