.title {
	font-size:32px;
	line-height:38px;
	display:block;
	margin-top:0;
	margin-bottom:10px;
	font-family:'Helvetica', sans-serif;
	font-weight:bold;
	color:#fff;
	text-align:center;
	
}



// Title Colour

.title--white {
	color:$white;
}

.title--black {
	color:$black;
}

.title--green {
	color:$green;
}



// Title Size

.title--xsmall {
	font-size:16px;
	line-height:24px;

	@media (max-width: 991px){

	}
}

.title--small {
	font-size:20px;
	line-height:28px;

	@media (max-width: 991px){

	}
}

.title--medium {
	font-size:32px;
	line-height:38px;

	@media (max-width: 991px){
		font-size:24px;
		line-height:30px;
	}
}

.title--large {
	font-size:60px;
	line-height:70px;
	letter-spacing: 1px;

	@media (max-width: 991px){
		font-size:36px;
		line-height:42px;
	}
}

.title--xlarge {
	font-size:60px;
	line-height:70px;
	letter-spacing: -2px;

	@media (max-width: 991px){
		font-size:36px;
		line-height:42px;
	}
}



// Title Weight

.title--normal {
	font-weight:normal;
}

.title--light {
	font-weight:300;
}



// Title Margin

.title--collapse {
	margin-bottom:0;
}

.title--push-small {
	margin-bottom:10px;
}

.title--push-medium {
	margin-bottom:20px;
}

.title--push-large {
	margin-bottom:40px;
}



// Title Casing

.title--upper {
	text-transform:uppercase;
}



// Title Custom

.title--main {
	position: relative;
    z-index: 99;
}


.title--center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
} 

