// Variables

$black: #000000;
$white: #ffffff;
$grey: #545e60;
$dark-grey: #393a39;
$green: #77ad1c;
$dark-green: #569534;


p {
	font-size:20px;
	color:#fff;
	max-width:870px;
	margin:0 auto;
	width:100%;
	text-align:center;

	@media (max-width: 991px){
		font-size:16px;
		
	}

	&.small {
		font-size:14px;
	}

	a {
		color:$green!important;
		text-decoration:underline;

		&:hover {
			text-decoration:none;
		}
	}
}

ul {
	font-size:20px;
	color:#fff;
	max-width:800px;
	margin:0 auto 40px;
	width:100%;
	text-align:left;
	color:$green;

	span {
		color:#fff;
	}

	@media (max-width: 991px){
		font-size:16px;
		
	}

}

.clearer {
	clear:both;
}

.line {
	background:$green;
	width:100%;
	height:1px;
	margin-top:40px;
}

form {
	max-width:350px;
	width:100%;
	margin:0 auto;

	@media (max-width: 991px){
		max-width:100%;
	}

	input {
		width:100%;
		margin-bottom:10px;
		padding:5px;
	}

	input[type="submit"] {
		background-color: $green;
		color: $white;
		font-size:24px;
		padding:5px 10px;
		border:0;
		border-radius:10px;
		max-width:250px;
		width:100%;
		display:block;
		margin:20px auto 40px;
		background-image: linear-gradient(to bottom, $dark-green 50%, $green 50%);
		background-image: -o-linear-gradient(to bottom, $dark-green 50%, $green 50%);
		background-image: -moz-linear-gradient(to bottom, $dark-green 50%, $green 50%);
		background-image: -webkit-linear-gradient(to bottom, $dark-green 50%, $green 50%);
		background-image: -ms-linear-gradient(to bottom, $dark-green 50%, $green 50%);

		&:hover {
			background-image: -webkit-linear-gradient(to bottom, $green 50%, $dark-green 50%);
			background-image: -moz-linear-gradient(to bottom, $green 50%, $dark-green 50%);			
			background-image: -o-linear-gradient(to bottom, $green 50%, $dark-green 50%);
			background-image: -ms-linear-gradient(to bottom, $green 50%, $dark-green 50%);
			background-image: linear-gradient(to bottom, $green 50%, $dark-green 50%);
		}
	}
}

.form-container {
	width:100%;
	margin:0 auto 20px;
}

.form-left {
	float:left;
	text-align:right;
	width:50%;
	font-size:16px;
	padding-right:15px;
	color:$green;

	input {
		width:50px;
	}
}

.form-right {
	float:right;
	width:50%;
	font-size:16px;
	padding-left:15px;
	color:$green;

	input {
		width:50px;
	}
}

img {

	display:block;
	width:100%;
	height:auto;

	&.icon {
		max-width:160px;
		margin:0 auto;

		@media (max-width: 991px){
			max-width:120px;
		}
	}

	&.warehouse {
		max-width:300px;
		margin:0 auto 10px;
	}

	&.aerial {
		max-width:1000px;
		margin:40px auto;

		@media (max-width: 991px){
			margin-bottom:0;
		}
	}

	&.leicester {
		max-width:400px;
		width:100%;
		margin:10px auto 40px;
	}

	&.spot {
		margin:40px auto;
		max-width:1000px;
	}

	&.ball {
		max-width:960px;
		margin:40px auto;
	}

	&.rugby {
		position:relative;
		z-index:0;
	}

}


.border-right {
	border-right:1px solid $green;

	@media (max-width: 991px){
		border:0;
	}
}

.mobile-push {
	margin-bottom:40px;
}


div.wpcf7-response-output {
    margin: 30px 0 25px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}






.overlay {
	position:fixed;
	background:rgba(0,0,0,0.7);
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:9998;
	display:none;
	}
	
.overlay-inner {
	position:fixed;
	top:50%;
	background:$dark-grey;
	width:800px;
	left:50%;
	margin-left:-400px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:9999;
	overflow:hidden;

	@media only screen and (max-width: 800px) {
		left:0;
		top:0;
		bottom:0;
		right:0;
		margin:0;
		height:100%!important;
		width:100%;
		transform:translateY(0);
		-moz-transform:translateY(0);
		webkit-transform:translateY(0);
		-ms-transform:translateY(0);
	}
}

.disclaimer {
	padding:0px 0px 0px;
	width: 100%!important;

	}
	
.disclaimer-inner {
	max-height:600px;
	padding:0px 0px 0px;
	}
	
.disclaimer-breakages {
	padding:20px;
	}
	
.disclaimer-inner-inner {
	padding:40px 40px 30px;
	}
	
.product-main-inner {
	overflow:hidden;
	}
	
.disclaimer p {
	margin-bottom:10px;
	}

.exit-button {
    position: absolute;
    top: 4px;
    right: 25px;
    cursor: pointer;
    font-size:36px;
    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    color:$green;
}

.overlay {
	p {
		text-align:left;
		font-size:14px;
	}

	h2 {
		height:65px;
		text-align:center;
		padding-top:16px;
		background:$grey;
		margin:0;
		color:#fff;
		font-weight:normal;
	}
}

.warehouse-wrapper {
	width:100%;
	max-width:325px;
	margin:0 auto;
}
